/* Add this to your CSS or create a new CSS file */
.background-container {
    background-color: #f8f9fa; /* Set the background color to a light color */
  }
  
.background-container {
    background-image: url('/assets/assetDoctor/img/back.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    color: #fff; 
    padding: 20px;
    /* Adjust text color for better visibility on the background image */
  }
  
  .search-container {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and transparency */
    padding: 20px;
  }
  
  /* Add additional styling for the card content as needed */
  .card {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and transparency for card */
    /* Additional card styling */
  }
  
  /* Rest of your existing CSS styles */
  .invisible-block {
    height: 50px; /* Adjust the height based on your navbar's height */
    width: 100%;
  }