<div class='demo-app'>
  <div class='demo-app-sidebar'>

    <!-- Displaying Pending Appointments -->
    <div class='demo-app-sidebar-section'>
      <div class="section-box">
        <h2>Waiting List ({{ pendingEvents.length }})</h2>
        <ul>
          <li *ngFor='let event of pendingEvents'>
            <div class="appointment-item">
              <div>
                <b>{{ event.start | date:'medium' }}</b>
                <i>{{ event.title }}</i>
              </div>
              <div class="action-buttons">
                <button class="action-button approve-button" (click)="approveAppointment(+event.id)">Approve</button>
                <button class="action-button reject-button" (click)="rejectAppointment(+event.id)">Reject</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    

    <!-- Displaying Approved Appointments -->
    <div class='demo-app-sidebar-section'>
      <div class="section-box">
        <h2>Approved Appointments ({{ approvedEvents.length }})</h2>
        <ul>
          <li *ngFor='let event of approvedEvents'>
            <div class="appointment-item">
              <div>
                <b>{{ event.start | date:'medium' }}</b>
                <i>{{ event.title }}</i>
              </div>
              <div class="action-buttons">
                <button class="action-button mark-as-done-button" (click)="completeAppointment(+event.id)">Mark as Done</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>




    <!-- Displaying Completed Appointments -->
    <div class='demo-app-sidebar-section'>
      <div class="section-box">
        <h2>Completed Appointments ({{ completedEvents.length }})</h2>
        <ul>
          <li *ngFor='let event of completedEvents'>
            <div class="appointment-item">
              <div>
                <b>{{ event.start | date:'medium' }}</b>
                <i>{{ event.title }}</i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>
